<% content_for(:javascripts) do %>
    <script type='text/javascript'>
        <%= render :partial => 'show.js' %>
    </script>
<% end -%>

<style type="text/css">
    #canvas {
        overflow: hidden;
    }
    #after {
        float: right;
    }
    #before {
        float: left;
        overflow: hidden;
    }
    #label {
        overflow: hidden;
    }
    .after {
        float: right;
    }
    .before {
        float: left;
        overflow: hidden;
    }
    .r{
        padding-left:5em;
        font-size:15px
    }
</style>

<h>Hrpa</h><br>
<input type="number" id="input"><h id="label" class="r"></h><br>

<a class="btn" onclick="addElement($('#input').val())">Dodaj</a>
<a class="btn" onclick="delElement($('#input').val())">Obriši</a>
<a class="btn" onclick="findElement($('#input').val())">Pronađi</a>


<br>

<br>
<br>

<div id='label'>

  <div class='before'>
    <p style="font-size:22px;">Stablo prije</p>
  </div>

  <div class='after'>
    <p style="font-size:22px;">Novo stablo</p>
  </div>
</div>

<div id="canvas">

  <div id="after"></div>


  <div id="before"></div>

</div>